.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.social a {
  color: var(--primary-color);
}

.social a:hover,
.social a:focus {
  opacity: 0.65;
}

.social svg {
  margin-right: 3px;
}
